body {
    display: flex;
    flex-direction: column;
    background-color: rgb(125, 125, 253);
}
.calculator {
    display: flex;
    flex-direction: column;
    outline: black solid 2px;
    align-self: center;
    align-items: center;
    margin-top: 50px;
    background-color: grey;
    border-radius: 15px;
}
.display {
    outline: black solid 2px;
    height:70px;
    width: 440px;
    margin: 25px;
    text-align: end;
    line-height: 70px;
    font-size: 40px;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
}
.buttons {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 275px;
    gap: 10px;
    margin: 25px;
}
.row {
    display: flex;
    flex: 1;
    gap: 10px;
}
button {
    flex: 1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;

}

#zero {
    flex: 2 1 42px;
    width: 500px;
    background-color: white;
}

.number, .decimal{
    background-color: white;
}

#clear {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#equal {
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.op {
    background-color: rgb(199, 199, 199);
}
